<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <meta author="Alwin Arrasyid <alwin.ridd@gmail.com>">
  <meta description="NodeJS application using ExpressJS written by Alwin Arrasyid">
</head>
<body>
  <div class="welcome">
    <h1> {{ message }} </h1>
    <p> {{ error.stack }}</p>
  </div>
</body>
</html>
