<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <meta author="Alwin Arrasyid <alwin.ridd@gmail.com>">
  <meta description="An openshift deployable nodejs application using expressjs">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1> Welcome to {{ title }} </h1>
      
      <p> This is default index page of {{ title }} </p>
    </div>
  </div>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
